/* Fix CSS Normalize reset */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif;
}
iframe {
  border: 0;
}
main {
  display: block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {

}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
blockquote {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
strong {
  font-weight: bold;
}
figure {
  margin: 0;
}
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
*{
	box-sizing:border-box;
}
/* Main Styles */

html{
	line-height:1.5;
	font-size:85%;
}
body {
	margin : 0;
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
	color : #222;
	background-color : #fff;
	line-height:1.5em;
}

h1 {
	color : #6F0101;
	font-size: 2em; 
	line-height: 1.0909em; 
	margin-bottom: 0.2em; 
	
}

h2 {
	font-size : 1em;
	font-size: 1.2500em;  
	line-height: 1.2000em; 
	margin-bottom: 0.2em; 
	color :#428bca;
	font-family : Arial black;
}

h3{
	font-size : 1.125em;
	margin-bottom:0.75em;
}
p,ul{
	font-size:100%;
	margin-bottom:0.7em;
}

li {
	padding-top : 2px;
}

li ul {
	padding-top : 5px;
}
pre {
	padding-left : 5px;
}
header {
	background-color : #222;
	color:#fff;
	height : 3em;
	position:fixed;
	width:100%;
	z-index : 99999;
}
#logo {
	font-weight : 600;
	font-size : 120%;
	position:absolute;
	width : 25%;
	margin-top:0.5em;
	padding-left:3em;
}

#logo a.active {
	color : #fff;
}
#logo img {
	margin-top : -4px;
}
#topmenu {
	left : 25%;
	width:74%;
	font-size : 95%;
	margin-top:0.75em;
	position:absolute;
}
#topmenu > a {
	font-weight : bold;
	margin-right :1em;
	color : #999;
}

#topmenu > a.active {
	color : #fff;
}

.dropdown {
	padding : 10px;
	display : none;
	position : absolute;
	background-color : #222;
	color : white;
	height : 200px;
	width : 200px;
	margin-left : 60px;
}

.dropdown  h1 {
	color : white;
	font-weight : bold;
	font-size : 14px;
}

.dropdown ul{
	padding-left:16px;
}

#topmenu a:hover {
	color : #fff;
}

main {
	padding:3em 0.375em 1.5em 0.375em;
}

aside {
	width:100%;
	display:block;
	padding-top:0.75em;
	margin-bottom:0.75em;
}
aside h4{
	color : #6F0101;
	font-weight : bold;
	
}
aside h4 a:hover{
	text-decoration :underline;
}

a.active {
	color : #6F0101;
}
aside ul{
	list-style-type:decimal;
	padding-left:16px;
}
aside ul li{
	font-size:100%;
	font-weight:bold;
}
aside ul li a:hover{
	text-decoration :underline;
}
.content {
	display:block;
	min-height:15em;
}


.content p {
	font-size : 94%;
	text-align : justify;
	padding : 4px;
}

.content ul {
	
	margin-left : 30px;
}

.content img {
	
	margin-bottom : 10px;
}

.number {
	
	list-style-type:decimal;
	
}

.method {
	font-weight : bold;
}

.readmore{
	background:#fff;
	font-size : 83%;
	white-space:nowrap;
	font-family : Arial black;
	margin-left : 3px;
	text-align:right;
	cursor:pointer;
	color:#B26B00;
	margin:5px 0;
	float:right;
	padding:5px;
	font:bold 11px sans-serif;
	
}

.nav a {
	color :#428bca;
	border : 1px solid #e5e5e5;
	padding : 5px;
	font-size : 90%;
	font-weight : bold;
	white-space:nowrap;
}

.nav p {
	display:inline;
	
}

footer {
	background-color : #5c5c5c;
	color:#fff;
	height : 7.5em;
	width : 100%;
	padding:1.5em;
	font-size : 90%;
}
	
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 100%;
		margin-top : 10px;
	}
	ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background: #EEEEEE;
		overflow: hidden;
		position: relative;
	}
	
	ul.tabs li:hover {
		background: #CCCCCC;
	}	
	ul.tabs li.active{
		background: #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}
	
	ul.tabs li h2 {
		color : #222;
		font-size : 95%;
	}
	.tab_container {
		border: 1px solid #999999;
		border-top: none;
		clear: both;
		float: left; 
		width: 100%;
		background: #FFFFFF;
		margin-bottom : 10px;
	}
	.tab_content {
		display : none;
		padding : 8px;
	}
	
	.tab_content li {
		margin-left : -12px;
	}
	
	.tab_content h2 {
		margin-top : 10px;
	}

@media (min-width:900px){
	html{
		font-size:100%;
	}
	aside {
		width : 20%;
		height:7.5em;
		position:fixed;
		padding-left : 6%;
	}
	.content {
		min-height:30em;
		padding-top:0.75em;
		padding-left : 25%;
		float:left;
		width : 94%;
		max-width:65em;
	}
	
	.home {
		max-width:60em;
		margin : 1.5em auto;
	}
	
	.home p {
		max-width:74%;
	}
	
	.home > div {
		
	}
	
	.home .offer {
		height : 120px;
		width : 35%;
		border : 1px solid rgb(230,230,230);
		display : inline-block;
		padding : 5px;
		margin-bottom : 10px;
	}
	
	.home span#sitename {
		color :#222;
		font-weight : bold;
	}
	
	.nav p {
		width : 49.7%;
		display : inline-block;
	}
	.nav p:last-of-type {
		text-align : right;
	}
}
