<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>products</name>
	<order>2</order>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<description>module to manage products</description>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menus>
		<menu>
			<menuItem label="List" />
		</menu>
	</menus>
</module>