.icon-16 {
	background-image: url("../images/icon-16.png");
}

.icon-32 {
	background-image: url("../images/icon-32.png");
}

.save-16 {
	background-image: url("../images/save-16.png");
}

#content .extensions-details {
	width : 100%;
}

#files {
	display : inline-block;
	width : 15.45%;
	vertical-align : top;
	padding-top : 15px;
}

#edition {
	vertical-align : top;
	margin:auto;
	width : 84%;
	display : inline-block;
	font-size : 13px;
	height : 500px;
	padding-top : 3px;
}


#tabs a {
	display : inline-block;
	width : 100px;
	height : 28px;
	border : 1px solid #ccc;
	border-bottom : none;
	background-image: url("../images/icon-16.png");
	background-repeat : no-repeat;
	background-color : #fff;
	padding-left : 21px;
	background-position : 3px 5px;
	font-family : Arial;
	font-size : 12px;
	padding-top : 4px;
}

#editor {
	height : 480px;
	border : 1px solid #ccc;
}

#extensions {
	padding : 10px;
}

.extension {
	display : inline-block;
	width : 250px;
	height: 150px;
	margin : 5px;
}

.extension > a {
	cursor : pointer;
}

.extension > a > img {
	width : 128px;
	height: 128px;
}

.extension img.selected {
	vertical-align : top;
	border : none;
	width : auto;
	height : auto;
}

.extension div {
	text-align : left;
	vertical-align : top;
}

.extension .info {
	height: 128px;
	display : inline-block;
}

.extension div span {
	display : block;
	text-align : left;
	margin-bottom :17px;
}
.extension div span.extension-name {
	font-weight : bold;
	margin-top :10px;
	
}

.extension span.extension-author {
	font-size : 85%;
}

.extension span a {
	font-size : 80%;
}

.extensionDetails {
	padding : 20px;
	background : #fff;
	border : 1px solid #ccc;
	width : 300px;
	margin-top : -128px;
	display : none;
	z-index : 999;
	position : absolute;
	margin-left : -15px;
	margin-right : 15px;
}

.extensionDetails div span {
	display : block;
	text-align : left;
	width : auto;
	margin-bottom :10px;
	margin-left : 30px;
	white-space : nowrap;
	font-size : 90%;
}

.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size : 11.5px;
    font-family : Arial;
}
 
.css-treeview input
{
    position: absolute;
    opacity: 0;
}
 
.css-treeview
{
    user-select: none;
}
 
.css-treeview a
{
    color: #444;
    text-decoration: none;
    cursor : pointer;
    background-image: url("../images/file-16.png");
    background-repeat : no-repeat;
    padding-left : 17px;
}
 
.css-treeview a:hover
{
    text-decoration: underline;
}
 
.css-treeview input + label + ul
{
    margin: 0 0 0 22px;
}
 
.css-treeview input ~ ul
{
    display: none;
}
 
.css-treeview label,
.css-treeview label::before
{
    cursor: pointer;
}
 
.css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}
 
.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}
 
.css-treeview label,
.css-treeview label::before
{
    background: url("../images/icons.png") no-repeat;
}
 
.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
 
.css-treeview label
{
    background-position: 18px 0;
}
 
.css-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}
 
.css-treeview input:checked + label::before
{
    background-position: 0 -16px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview 
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
 
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}
