<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>customers</name>
	<main>true</main>
	<order>1</order>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<description>module to manage customers</description>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menus>
		<menu>
			<menuItem label="List" />
			<menuItem label="Chart" url="chart" />
		</menu>
    </menus>
</module>