<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>users</name>
	<visible>false</visible>
	<administrable>false</administrable>
	<author>Jelastic</author>
	<authorEmail>dev@jelastic.com</authorEmail>
	<authorUrl>http://www.jelastic.com</authorUrl>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2016 Jelastic, Inc</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menu>
	   <menuItem name="Account"/>
	   <menuItem name="Preferences" action="preferences"/>
	   <menuItem name="Details" action="preferences/templates/details" page="templateDetails.jsp" visible="false"/>
	</menu>
</module>