html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: 100%;
  height: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding:0;
  font-family:inherit;
}
body {
  margin: 0 auto;
  font-family: Dosis;
   width: 100%;
  min-height: 100%;
  text-rendering:optimizeLegibility;
  font-style: normal !important;
}

*:focus {
    outline: none;
}

input[type=submit]{
	border : 2px solid rgb(234, 133, 17);
	cursor : pointer;
	background-color:rgba(34,34,34,0.6);
	color : #fff3d5;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding : 6px;
}

input[type=submit]:hover{
	background : rgb(234, 133, 17);
}

input {
	padding-left : 2px;
}

select {
	padding : 2px;
	border : 1px solid rgb(234, 133, 17);
}

.extension img {
	border : 1px solid #fdf1ad;
}

h1 {
	font-size: 1.6em;
    line-height: 1.1em;
    text-shadow : rgb(234, 133, 17) 0px 0.3px 0px;
	background-color:rgba(64,64,64,0.8);
	font-family : Orbitron;
	border-top : 1px solid rgb(234, 133, 17);
    border-bottom : 1px solid rgb(234, 133, 17);
	border-left:none;
	border-right:none;
	text-align : left;
	position:relative;
	color : #fff3d5;
	margin : 0;
	padding-top : 0.4em;
	width : 100%;
	background-position-x : 40%;
	padding-left : 41%;
}

#content {
	padding-top : 5px;
}

#content a {
	color : rgb(234, 133, 17);
}

#content h2 {
	font-size : 1.3em;
	font-weight : 400;
	font-family : Itim;
	margin-bottom : 5px;
	margin-top : 5px;
}

#content h2:first-of-type {
	margin-top : 0px;
}

#content p, #content pre {
	font-size : 1em;
	font-family : Dosis;
	margin-bottom : 5px;
}

header {
	height : 5em;
	padding : 0 0.3em;
	background : #fffef5;
	border-bottom : 1px solid rgb(234, 133, 17);
}

b {
	color : rgb(234, 133, 17);
}

.logo {
	width : 250px;
	display : inline-block;
}

.menu {
	display : inline-block;
	vertical-align : top;
	margin-top : 17px;
}

.menu a {
	margin-right : 13px;
	width : auto;
	display : inline-block;
	background-repeat : no-repeat;
	background-position : 4px 7px;
	font-family : Orbitron;
	text-decoration : none;
	font-size : 78%;
	border : 2px solid rgb(234, 133, 17);
	padding : 5px;
	padding-left : 22px;
	border-radius : 5px;
	color : rgba(64,64,64,0.8);
}

a {
	color : rgb(0,0,150);
}

.menu a:first-letter {
	text-transform : uppercase;
}

.menu a.active {
	color : rgb(234, 133, 17);
}

.menu a:hover {
	color : rgb(234, 133, 17);
}

.home-16 {
	background-image: url(../images/home-16.png);
}

.download-16 {
	background-image: url(../images/download-16.png);
}


.documentation-16 {
	background-image: url(../images/documentation-16.png);
}

.modules-16 {
	background-image: url(../images/modules-16.png);
}

.templates-16 {
	background-image: url(../images/templates-16.png);
}

.login {
	display : inline-block;
	margin-right : 20px;
	width : 360px;
	line-height :1.7em;
	font-size:75%;
}

.login input[type=submit]{
	font-family : Itim;
	font-size : 80%;
	display : inline-block;
	margin-left : 10px;
}

.login input[type=text],.login input[type=password]{
	border : 1px solid rgb(234, 133, 17);
	height : 21px;
	margin-top : 5px;
	font-size:95%;
	width : 160px;
}

.login span {
	display : inline-block;
	width : 100px;
	text-align : right;
	font-family : Dosis;
	color : #332115;;
}
#search {
	margin-left : 15px;
}

#search input { 
	border:1px solid rgb(234, 133, 17);
	background-image: url('../images/search.png');
}

ol {
	margin-left : 50px;
	font-family : Dosis;
}

ol ul {
	margin-left : 18px;
}

.login a {
	color : #332115;
	font-size : 100%;
	cursor : pointer;
	font-family : Dosis;
	display : inline-block;
}

.login a:first-of-type {
	margin-left : 105px;
	border-right : 1px solid #c7c7c7;
	padding-right : 5px;
}

main {
	min-height : 70vh;
	background : #fffade;
	padding : 0;
	padding-top : 0px;
	position:relative;
	overflow : hidden;
}

fieldset {
	border : 1px solid rgb(234, 133, 17);
}

footer {
	height : 2.8em;
	background-color:rgba(34,34,34,0.8);
    color : #a9a9a9;
    padding: 8px;
    font-family : Itim;
    font-size : 70%;
    border-top : 1px solid rgb(234, 133, 17);
    border-bottom : 1px solid rgb(234, 133, 17);
}

/*
 *	generated by WOW Slider 2.6
 *	template Shady
 */

#wowslider-container { 
	zoom: 1; 
	position: relative; 
	margin:0 auto;
	border:none;
	text-align:left; /* reset align=center */
	font-size: 10px;
	background : #fff;
}
#wowslider-container.fullscreen-mode,
#wowslider-container.fullwidth-mode {
	max-width:none;
	max-height:none;
}


#wowslider-container .ws_images ul{
	position:relative;
	height:100%;
	width:100%;
	/*table-layout:fixed;*/
}
#wowslider-container .ws_images ul li{
	position: relative;
	line-height:0; /*opera*/
	overflow: hidden;
	width:100%;
	float:left;
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container .ws_images{
	width:100%;
	display:block;
}
#wowslider-container.fullscreen-mode .ws_images,
#wowslider-container.fullwidth-mode .ws_images {
	max-height:none;
}
#wowslider-container .ws_images a{
	width:100%;
	display:block;
	color:transparent;
}
#wowslider-container.fullscreen-mode .ws_images a,
#wowslider-container.fullwidth-mode .ws_images a {
	height:100%;
}
#wowslider-container img{
	max-width: none !important;
}
#wowslider-container .ws_images img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}

#wowslider-container .ws_images iframe {
	position: absolute;
	z-index: -1;
}
#wowslider-container a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container  .ws_bullets { 
	float: left;
	top:75vh;
	position:absolute;
	z-index:70;
	padding: 10px;
	margin:0;
	height:32px;
	background:rgba(111,111,111,0.5);
	margin-left:-30px;
	border-radius:12px;
}
#wowslider-container  .ws_bullets div{
	position:relative;
	font-size: 0px; 
}
#wowslider-container  a.wsl{
	display:none;
}

#wowslider-container .ws_bullets a { 
	margin-right:16px;
	width:12px;
	height:12px;
	float: left;
	text-indent: -4000px;
	position:relative;
	background: rgb(222,222,222); /* ie */
	background: rgba(222,222,222,0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#wowslider-container .ws_bullets a:last-of-type{
	margin-right:0;
}
#wowslider-container .ws_bullets a.ws_selbull, #wowslider-container .ws_bullets a:hover{
	background: rgba(222,222,222,1);
}
#wowslider-container .ws_bullets a:hover {
	-webkit-animation: pulseIn .9s infinite linear;
	-moz-animation: pulseIn .9s infinite linear;
	animation: pulseIn .9s infinite linear;
}
#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
	font-family: Dosis;
	position:absolute;
	display:none;
	text-shadow: none;
	text-align: center;
	background:rgba(111,111,111,0.5);
	color: #fff3d5;
	top:50%;
	margin-top:-2.5em;
	height: 5em;
	width: 5em;
	z-index:60;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#wowslider-container a.ws_next:hover,
#wowslider-container a.ws_prev:hover{
	background: #fff3d5;
	display : none;
	color : #ccc;
}
#wowslider-container a.ws_next{
	right:10px;
	display : none;
}
#wowslider-container a.ws_prev {
	left:10px;
	display : none;
}
#wowslider-container a.ws_next:after {
	content: '»';
}
#wowslider-container a.ws_prev:after {
	content: '«';
}
#wowslider-container a.ws_next:after,#wowslider-container a.ws_prev:after {
	display: block;
	font-size: 5em;
	line-height: 0.75em;
	font-family:Orbitron;
	font-weight:900;
	color:#fff3d5);
}

#wowslider-container a.ws_prev:hover:after {
	-webkit-animation: prevArrow .7s infinite ease-in-out;
	-moz-animation: prevArrow .7s infinite ease-in-out;
	animation: prevArrow .7s infinite ease-in-out;
}
#wowslider-container a.ws_next:hover:after {
	-webkit-animation: nextArrow .7s infinite ease-in-out;
	-moz-animation: nextArrow .7s infinite ease-in-out;
	animation: nextArrow .7s infinite ease-in-out;
}





* html #wowslider-container a.ws_next,* html #wowslider-container a.ws_prev{display:block}
#wowslider-container:hover a.ws_next, #wowslider-container:hover a.ws_prev {display:block}
/* bottom center */
#wowslider-container  .ws_bullets {
	bottom:-33px;
	left:50%;
}


#wowslider-container .ws-title{
	position:absolute;
	display:block;
	bottom: 4em;
	left: 3.23em;
	margin: 9px;
	z-index: 50;
	font-family:Itim;
	font-size: 5.5em;
	font-weight : bold;
}
#wowslider-container .ws-title div,#wowslider-container .ws-title span{
	display:inline-block;
	padding:15px;
	background:rgba(34,34,34,0.6);
	color : #fff3d5;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top : 8px;
}
#wowslider-container .ws-title div{
	display:block;
	padding:15px;
	background:rgba(34,34,34,0.6);
	color : #fff3d5;
	margin-top:10px;
	opacity:0.8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#wowslider-container .ws_images > ul{
	animation: wsBasic 16.8s infinite;
	-moz-animation: wsBasic 16.8s infinite;
	-webkit-animation: wsBasic 16.8s infinite;
}
@keyframes wsBasic{0%{left:-0%} 14.88%{left:-0%} 25%{left:-100%} 39.88%{left:-100%} 50%{left:-200%} 64.88%{left:-200%} 75%{left:-300%} 89.88%{left:-300%} }
@-moz-keyframes wsBasic{0%{left:-0%} 14.88%{left:-0%} 25%{left:-100%} 39.88%{left:-100%} 50%{left:-200%} 64.88%{left:-200%} 75%{left:-300%} 89.88%{left:-300%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 14.88%{left:-0%} 25%{left:-100%} 39.88%{left:-100%} 50%{left:-200%} 64.88%{left:-200%} 75%{left:-300%} 89.88%{left:-300%} }

#wowslider-container .ws_images {
	background : #fff3d5;
}


#wowslider-container .ws_bullets  a img {
	text-indent:0;
	display:block;
	bottom:16px;
	left:-115px;
	visibility:hidden;
	position:absolute;
    -moz-box-shadow: 0 0 5px rgba(106, 206, 232, 0.4);
    box-shadow: 0 0 5px rgba(106, 206, 232, 0.4);
    border: 3px solid #ffffff;
	max-width:none;
}
#wowslider-container .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container .ws_bulframe div div{
	height:75px;
	overflow:visible;
	position:relative;
}
#wowslider-container .ws_bulframe div div img {
	height: 100%;
}
#wowslider-container .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:200px;
	background-color:#ffffff;
}
#wowslider-container  .ws_bullets .ws_bulframe{
	display:none;
	bottom:18px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    -moz-box-shadow: 0 0 5px rgba(106, 206, 232, 0.4);
    box-shadow: 0 0 5px rgba(106, 206, 232, 0.4);
    border: 3px solid #ffffff;
}
#wowslider-container .ws_bulframe span{
	display:block;
	position:absolute;
	bottom:-9px;
	margin-left:0px;
	left:95px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}

#wowslider-container.ws_gestures,
#wowslider-container.ws_gestures > div > a {
	background : rgb(34, 34, 34);
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container.ws_gestures.ws_grabbing,
#wowslider-container.ws_gestures.ws_grabbing > div > a {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
#wowslider-container.ws_video_playing .ws_bullets {
	display: none;
}
#wowslider-container.ws_video_playing:hover .ws_bullets {
	display: block;
}
/* IE fix because it don't show controls on hover if frame visible */
#wowslider-container.ws_video_playing_ie .ws_bullets,
#wowslider-container.ws_video_playing_ie a.ws_next,
#wowslider-container.ws_video_playing_ie a.ws_prev {
	display: block;
}


/* youtube/vimeo buttons */
#wowslider-container .ws_video_btn {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 55;
}
#wowslider-container .ws_video_btn.ws_youtube,
#wowslider-container .ws_video_btn.ws_vimeo {
	display: block;
}
#wowslider-container .ws_video_btn div {
	position: absolute;
	background-image: url(./playvideo.png);
	background-size: 200%;
	top: 50%;
	left: 50%;
	width: 7em;
	height: 5em;
	margin-left: -3.5em;
	margin-top: -2.5em;
}
#wowslider-container .ws_video_btn.ws_youtube div {
	background-position: 0 0;
}
#wowslider-container .ws_video_btn.ws_youtube:hover div {
	background-position: 100% 0;
}
#wowslider-container .ws_video_btn.ws_vimeo div {
	background-position: 0 100%;
}
#wowslider-container .ws_video_btn.ws_vimeo:hover div {
	background-position: 100% 100%;
}

#wowslider-container1 .ws_playpause.ws_hide {
	display: none !important;
}

#wowslider-container .ws_fullscreen {
	display: none;
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 2.25em;
	z-index: 59;
	color: #000;
	text-shadow: none;
}
#wowslider-container .ws_fullscreen:hover {
	-webkit-animation: pulseOut .9s infinite linear;
	-moz-animation: pulseOut .9s infinite linear;
	animation: pulseOut .9s infinite linear;
}


#wowslider-container:hover .ws_fullscreen {
	display: block;
}
#wowslider-container .ws_fullscreen:after {
	content: '';
}

.ws_fs_wrapper {
	width:100%;
	height: 100%;
	background: #EFECDD;
}

.ws_fs_wrapper > #wowslider-container,
.ws_fs_wrapper > #wowslider-container .ws_images {
	margin:0 auto;
	max-height: none;
}

.ws_fs_wrapper > #wowslider-container .ws_fullscreen {
	position: fixed;
	display: block;
}

.ws_fs_wrapper > #wowslider-container .ws_fullscreen:after {
	content: '\e801';
}

.ws_fs_wrapper > #wowslider-container {
	border: 0;
	outline: 0;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0; 
}
