<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>builder</name>
	<main>true</main>
	<home>modules.jsp</home>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<description>module to build applications and extensions</description>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menu>
		<menuItem name="Modules"/>
		<menuItem name="Templates" action="templates"/>
		<menuItem name="edit" action="modules/edit" page="editor.jsp" visible="false"/>
		<menuItem name="edit" action="templates/edit" page="editor.jsp" visible="false"/>
	</menu>
	<actions>
		<action name="modules/edit" class="org.metamorphosis.builder.ModuleAction">
		  <result>modules/edit</result>
		</action>	
		<action name="templates/edit" class="org.metamorphosis.builder.TemplateAction">
		  <result>templates/edit</result>
		</action>
	</actions>
</module>