<module>
<type>front-end</type>
<main>true</main>
<cached>true</cached>
<actions>
	<action url="watch" script="module.groovy" method="watch">
	  <result>watch</result>
	</action>
	<action url="search" script="module.groovy" method="search">
	  <result>search</result>
	</action>
</actions>
</module>