<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>public</name>
	<home>documentation.jsp</home>
	<type>front-end</type>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<description>module to manage the public content</description>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menu>
		<menuItem label="documentation" url="documentation" />
		<menuItem label="download" url="download" />
		<menuItem label="modules" url="modules" />
		<menuItem label="templates" url="templates" />
		<menuItem label="community" url="community" />
		<menuItem label="contribute" url="contribute" />
		<menuItem name="forum" label="forum" url="forum" />
		<menuItem label="discuss" url="discuss" />
	</menu>
	<actions>
		<action name="message" url="forum/message">
			<result>message</result>
		</action>
	</actions>
</module>