<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>public</name>
	<url>/</url>
	<home>documentation.jsp</home>
	<type>front-end</type>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<description>module to manage the public content</description>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menu>
		<menuItem name="documentation" action="documentation" />
		<menuItem name="download" action="download" />
		<menuItem name="modules" action="modules" />
		<menuItem name="templates" action="templates" />
		<menuItem name="community" action="community" />
		<menuItem name="contribute" action="contribute" />
	</menu>
</module>