<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>admin</name>
	<administrable>false</administrable>
	<home>users.jsp</home>
	<order>5</order>
	<author>Mamadou Lamine Ba</author>
	<authorEmail>laminba2003@yahoo.fr</authorEmail>
	<description>module for administration</description>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2016</copyright>
	<license>GNU/GPL</license>
	<version>1.0</version>
	<menu>
		<menuItem name="Users" />
		<menuItem name="Groups" url="groups" />
		<menuItem name="Modules" url="modules" />
		<menuItem name="Templates" url="templates" />
	</menu>
</module>