<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Admin</name>
	<order>5</order>
	<author>John Doe</author>
	<authorEmail>john@example.com</authorEmail>
	<authorUrl>http://www.example.com</authorUrl>
	<creationDate>2008-05-01</creationDate>
	<copyright>John Doe 2008</copyright>
	<license>GNU/GPL</license>
	<version>1.0.2</version>
	<menu>
	   <menuItem name="Home"/>
	   <menuItem name="Users" action="users"/>
	   <menuItem name="Modules" action="modules"/>
	   <menuItem name="Templates" action="templates"/>
	</menu>
</module>