fieldset {
	margin-top : 10px;
}

#content .extensions-details {
	width : 100%;
	margin-top : 10px;
}

#extensions {
	padding : 10px;
	width : 91%;
	margin : auto;
}

#extensions > span {
	font-size : 80%;
}

.extension {
	display : inline-block;
	width : auto;
	height: 150px;
	margin : 5px;
}

.extension > a {
	cursor : pointer;
}

.extension > a > img {
	width : 128px;
	height: 128px;
}

.extension img.selected {
	vertical-align : top;
	border : none;
	width : auto;
	height : auto;
}

.extension div {
	text-align : left;
	vertical-align : top;
}

.extension .info {
	display : inline-block;
	padding : 2px;
	padding-left : 5px;
	padding-right : 10px;
}

.extension .info span {
	font-size : 98%;
}

.extension div span {
	display : block;
	text-align : left;
	margin-bottom :16px;
}
.extension div .extension-name {
	font-weight : bold;
}

.extension div .extension-name a {
	width : 16px;
	height : 16px;
	margin-right : 3px;
	display : inline-block;
}

.extension .extension-description {
	text-align : left;
	line-height : 11px;
	margin-top : 5px;
}

.extension span a {
	font-size : 80%;
}

.extensionDetails {
	padding : 20px;
	width : auto;
	margin-top : -128px;
	display : none;
	z-index : 999;
	position : absolute;
	margin-left : -15px;
	margin-right : 15px;
}

.extensionDetails div span {
	display : block;
	text-align : left;
	width : auto;
	margin-bottom :10px;
	margin-left : 30px;
	white-space : nowrap;
	font-size : 95%;
}

.sponsors img {
	display : inline-block;
	margin : 10px;
}

.chat {
	width : 100%;
	margin:auto;
	padding-top : 5px;
	padding-left : 15%;
	padding-right : 15%;
	height : 100%;
	padding-bottom : 10px;
}

.chat > h2 {
	margin-bottom : 5px;
	line-height : 1em;
	font-size : 95%;
}

.chat h2 select {
	margin-top : -5px;
}

.chat-left {
	display : inline-block;
	width : 75%;
	height : 340px;
	vertical-align: top;
	padding : 10px;
	overflow : auto;
}


.chat-right {
	display : inline-block;
	width : 23%;
	height : 230px;
	vertical-align: top;
	overflow : auto;
	padding : 5px;
	font-size : 80%;
	margin-left : 1%;
}

.chat-right span {
	display : block;
	margin-left : 10px;
}

.chat-bottom {
	display : inline-block;
	width : 100%;
}

.chat-bottom h3 {
	font-size : 0.8em;
}

.chat #users .message-info-user-name {
	color : #222;
	font-size : 92%;
}

.chat #users .user-chat-selected {
	color : green;
	font-size : 92%;
}

.message-info {
	width : 100%;
	background : rgb(237, 234, 224);
	line-height : 1.5em;
	border-radius : 2px;
	border:1px rgb(230, 230, 230);
	border-radius : 8px;
	
}

.message-info-user {
	display : inline-block;
	width : 20%;
	vertical-align: top;
	padding-left : 6px;
	padding-top : 5px;
}

.message-info-user-name {
	background-image: url("../images/user-16.png");
	background-repeat : no-repeat;
	padding-left : 20px;
	background-position : 1% 0px;
	color : #6F0101;
}

.chat-right .message-info-user-name {
	background-position : 1% 3px;
}

.message-info-time {
	color : green;
}

.message-info-user span {
	display : block;
	font-size : 80%;
}

.message-info-content {
	display : inline-block;
	width : 78%;
	vertical-align: top;
}

.message-info-content p {
	font-size : 80%;
	width : 100%;
	word-wrap: break-word;
}

.message-info:nth-child(even) {
    background: rgb(255, 255, 250);
    border:none;
    border-radius : 2px;
} 

.chat textarea {
	width : 75.3%;
	height : 110px;
	padding : 6px;
	border-radius : 12px;
	background :#fff;
	color : #222;
	font-size : 13px;
}
.user-chat-selected {
	color : green;
}
#do-chat {
	cursor :pointer;
	margin-top : 30.5px;
	display : inline-block;
	width : 100px;
	float : right;
	margin-right : 13%;
	height : 49px;
}

.chat-right h2 {
	text-align : center;
	border-radius : 5px;
}

.forum h2,.chat h2 {
	border-radius: 10px;
	padding : 10px;
	position : sticky;
	top:0;
}

.forum  h2 a {
	float : right;
	font-size : 91%;
	background-repeat : no-repeat;
	padding-left : 3%;
	background-position : 8% 54%;
}

.new-16 {
	background-image: url("../images/new-16.png");
}

.forum table {
	width : 100%;
	border: none;
	padding : 0px;
	margin : 0px;
}

.forum tr {
	cursor : default;
}

.forum th {
	text-align : center;
	font-size : 75%;
	border-radius: 0px;
	line-height : 1.9em;
	border-left : none;
	border-right : none;
	margin : 0px;
}

.forum tbody tr:nth-child(odd) {
   background : rgb(255, 255, 255);
}

.forum tbody tr:nth-child(even) {
   background : #e5e3cd;
}

.forum th:first-of-type {
	width : 49%;
}

.forum th:last-of-type {
	width : 25%;
}

.forum td {
	font-size : 85%;
	vertical-align : middle;
	padding : 5px;
	line-height : 1.5em;
	border:1px solid rgba(106,206,232,0.4);
}

.forum td a {
	color : #428bca;
}
.forum td span {
	display : block;
	text-align : justify;
}


.forum td:first-of-type a {
	color : rgb(2,24,24);
}

.forum td:nth-child(1n) {
	color : #222;
}

.forum td:nth-child(2n) {
	text-align : center;
}

.forum td:nth-child(3n) {
	text-align : center;
}

.forum td > span:last-of-type {
	padding-left : 26%;
}

.forum td.empty {
	color : rgb(204, 0, 0);
}

.forum-message input[type=text] {
	width : 60%;
}

.forum-message input[type=submit] {
	cursor :pointer;
	margin-top : 0px;
	display : inline-block;
	width : 100px;
	float : right;
	margin-right : 9%;
	height : 49px;
}

.forum-message .editor {
	height : 375px;
	background : #fff;
}

.forum-message #title {
	margin-bottom : 2px;
}